body{
	margin: 0;
	padding: 0;
	background-color: #e3e3e3;
	
}

.clock{
	width: 550px;
	height: 300px;
	margin: auto;
	margin-top: 150px;
	border-style: solid;
	border-radius: 15px;
	background-color: grey; 
}

.inner-line{
	width: 500px;
	height: 250px;
	margin: auto;
	margin-top: 25px;
	border-style: solid;
	border-color: black;
	background-color: black;
	color: white;
}

.hours{
	width: 170px;
	height: 190px;
	margin-top: 20px;
	margin-left: 20px;
	border-style: solid;
	border-color: transparent;
	text-align: center;
	font-size: 180px;
	font-family: verdana;
	font-style: italic;
}

.colon{
	width: 20px;
	height: 30px;
	font-size: 80px;
	margin-left: 185px;
	margin-top: -165px;
	font-family: verdana;
	font-style: italic;
	
}

.minutes{
	width: 170px;
	height: 190px;
	margin-top: -31px;
	margin-left: 210px;
	border-style: solid;
	border-color: transparent;
	text-align: center;
	font-size: 90px;
	font-style: italic;
	font-weight: 600;
	font-family: verdana;
}

.seconds{
	width: 80px;
	height: 80px;
	margin-top: -196px;
	margin-left: 400px;
	border-style: solid;
	border-color: transparent;
	text-align: center;
	font-size: 50px;
	font-weight:600;
	color: rgb(247, 65, 65);
	font-family: verdana;
	font-style: italic;
}