@font-face {
	font-family: CursedTimerUlil-Aznm;
	src: url('https: //www.fontspace.com/cursed-timer-ulil-font-f2941');
}
body{
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #ee0979, #ff6a00);
	
}

.clock{
	width: 550px;
	height: 300px;
	margin: auto;
	margin-top: 150px;
	border-style: solid;
	border-radius: 15px;
	background-color: #f3f3f3; 
}

.inner-line{
	width: 500px;
	height: 250px;
	margin: auto;
	margin-top: 25px;
	border-style: solid;
	border-color: black;
	background-color: black;
	color: white;
}

.hours{
	width: 170px;
	height: 190px;
	margin-top: 20px;
	margin-left: 10px;
	border-style: solid;
	border-color: transparent;
	text-align: center;
	font-size: 130px;
	font-weight: 600;
	font-family: verdana;
	font-style: italic;
}

.colon{
	width: 20px;
	height: 30px;
	font-size: 80px;
	margin-left: 205px;
	margin-top: -165px;
	font-family: verdana;
	font-style: italic;
	
}

.minutes{
	width: 170px;
	height: 190px;
	margin-top: -31px;
	margin-left: 220px;
	border-style: solid;
	border-color: transparent;
	text-align: center;
	font-size: 90px;
	font-style: italic;
	font-weight: 600;
	font-family: verdana;
}

.seconds{
	width: 80px;
	height: 80px;
	margin-top: -196px;
	margin-left: 400px;
	border-style: solid;
	border-color: transparent;
	text-align: center;
	font-size: 50px;
	font-weight:600;
	color: #ff6a00;
	font-family: verdana;
	font-style: italic;
}